<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../assets/headshot.jpg" alt="a.Kabakibi" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Ahmad Kabakibi</h1>
			<h2 class="quickFade delayThree">Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="fa fa-at"> </i> <a href="mailto:ahmadkbakibi@gmail.com" target="_blank">ahmadkbakibi@gmail.com</a></li>
				<li><i class="fa fa-terminal"> </i> <a href="http://www.akabakibi.com"  target="_blank">www.akabakibi.com</a></li>
				<li><i class="fa fa-whatsapp"> </i> +31685015575</li>
			    <li><a href="https://github.com/AhmadKabakibi"  target="_blank"><i class="fa fa-github"> </i>@ahmadkabakibi</a></li>
			    <li><a href="https://www.linkedin.com/in/ahmadkabakibi/"  target="_blank"><i class="fa fa-linkedin"> </i> AhmadKabakibi</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Who I Am</h1>
				</div>
				
				<div class="sectionContent">
					<ul>
				
					<li>I ’m a software engineer specialized in Full-stack web development with over 4 years’ experience and awesome tech skills.</li>
					
					<li>Insightful knowledge of web standards, SSL on HTTP, Design Patterns, MVC, Software development lifecycle and development method Scrum</li>
					
					<li>Fast learner and thrive under pressure of deadlines</li>
					</ul>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>FrontEnd Developer</h2>
					<h3>Quby - we create Toon</h3>
					<p class="subDetails">September 2017 – Present</p>
					<p>
					Create functional, appealing, intuitive, responsive, cross-browser web applications based on UX/UI designs
					Contribute to an Agile Scrum team – coding, testing, sharing knowledge, support, team building, having fun
					Hybrid mobile apps development with PhoneGap (Cordova) MVC Backbone based 
					Write concise, unit test/integration test, highly performance code and contribute to correct architectural decisions.
					</p>
				</article>
				
				<article>
					<h2>Software Developer</h2>
					<h3>Amsterdam Data Science</h3>
					<p class="subDetails">June 2016 – December 2016</p>
					<p>
					Crowd Management with social media <a href="https://github.com/CroM-SoM"  target="_blank">(CroM-SoM).</a>
					Entire system written in JavaScript with backend utilizing NodeJS and PostgresQL
					Responsible for technology decisions.
				    It responses as a tool to "nudge" people from crowded areas towards areas or events off the beaten track using “Intelligent” matching of profile to available activities</p>
				</article>
				
				<article>
					<h2>Founder</h2>
					<h3>A.Kabakibi</h3>
					<p class="subDetails">August 2016 – Present</p>
					<p>Perspectives are endless. There is always something new to learn or discover, which could be valuable to my own growth. I started my own company officially "A.Kabakibi" in Netherlands and I work on freelance basis as full stack development projects.</p>
				</article>

				<article>
					<h2>Full Stack Developer</h2>
					<h3>SMG - Music for Business</h3>
					<p class="subDetails">September 2014 – September 2015</p>
					<p>SMG Player is NodeJS application running on Raspberry Pi and other platforms provide music broadcast services.
					Responsible for Node.js core development,
					Used AngularJS, Bower/Npm and Websocket.
					Responsible for derectives development, integration building, architecture design.
					Building App from scratch with the whole team.
					Player UI Multiple render supported: CSS3, WebGL.
					</p>
				</article>	
			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
				    <h2>R-PAC billing portal system</h2>
					<p class="subDetails">2016</p>
					<p>
						It's a web app that lets R-PAC's clients customize and invoice their orders purchases, the app interacts with R-PAC's ERP via CSV files imported and parsed from FTP and export them back,the app implemented by NodeJS for Endpoints and AngluarJS martial design for frontend and SQL Express DB.
					</p>
				</article>

	   			<article>
				    <h2>OpenEmbassy</h2>
					<p class="subDetails">May 2016 – March 2017</p>
					<p>
						I'm Co Founder of OpenEmbassy.
						Wrote the front and backend of the system which enables status holders to ask questions about successfully building up a life in their new home country.
						Responsible for architecture and implementation of core technology stack.
						Participate in the front-end architecture work in a new generation system developed by Angular2&TypeScript. working with NodeJS backend dev on AWS ElasticBeanstalk, S3 bucket, API Gateway;
					</p>
				</article>	

			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>NodeJS</li>
					<li>Angular</li>
					<li>PostgreSQL</li>
					<li>Socket.IO</li>
					<li>JavaScript ES6/ES5</li>
					<li>ExpressJS</li>
					<li>TypeScript</li>
					<li>EndPoints API Design and structuring</li>
					<li>AWS services</li>
					<li>CLI</li>
					<li>HTML5/CSS</li>
					<li>MVC, RESTful, Web service</li>
					<li>Git version control</li>
					<li>Development Workflows</li>
					<li>JSON data formating</li>
					<li>object oriented principles</li>
					<li>Practiced in Scrum</li>
					<li>Unit testing</li>
					<li>C/C++ on Windows and Linux programming for 3 year university</li>
					<li>Docker Engine</li>
					<li>NoSQL/SQL Databases</li>
					<li>Gulp/webpack</li>
					<li>PHP</li>
					<li>Ruby on Rails</li>
					<li>open source software and internet protocols</li>
					<li>software architecture</li>
					<li>data structures and modern design patterns</li>
					<li>Java</li>
					<li>C#</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h3>Activities & Awards</h3>
			</div>
			
			<div class="sectionContent">
				<article>
					<h3>MIT Enterprise Forum & UBER</h3>
					<p class="subDetails">2016</p>
					<p>Innovate for Refugees Competition
					Integration of New Comers in a new home country.</p>
				</article>
			</div>
			<div class="sectionContent">
				<article>
					<h3>HackYourFuture</h3>
					<p class="subDetails">2016-2017</p>
					<p>Teacher and mentor full-stack development skills,NodeJS and Backend development.</p>
				</article>
			</div>
			<div class="sectionContent">
				<article>
					<h3>FLL Competition and Robocub</h3>
					<p class="subDetails">2010</p>
					<p>Design and programming Robot from Lego 2010
					Participant in FLL (First Lego League) 2010
					Participant Robocup Robots.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Yarmouk Private University, Syria</h2>
					<p class="subDetails">Qualification</p>
					<p>Bachelor B.S. in Software Engineering, February 2013</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>

<a href="../assets/A-Kabakibi.docx" target="_blank" class="btn btn-default link">Download</a>